<!DOCTYPE html>
<html>
  <head>
    <title>HomeKitty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src='/homey.js' data-origin='settings'></script>
    <script src="petite-vue.js"></script>
    <script src="fuse.min.js"></script>
    <script src='swiped-events.min.js'></script>
    <script src='homey-settings-mock.js'></script>
    <script src='mock-setup.js?0982093849234'></script>
    <script src='app.js' defer></script>
    <link rel="stylesheet" href="styles.css?49FA0A8C4B01-A9B2-97AE8ABA5046">
    <style>
      /* prevent FOUC */
      [v-cloak] { display: none }
    </style>
  </head>
  <body class='homekitty' id='homekitty' v-cloak @vue:mounted='mounted'>

    <div :class='{ active: currentPage === "main", page : true, fixed : true }'>

      <div class='list'>
        <p data-i18n='settings.main.homekit-settings.title'>homekit settings</p>
        <ul>
          <li>
            Publish all supported devices to HomeKit
          </li>
          <li>
            Remove all devices from HomeKit
          </li>
          <li @click='setPage("devices")'>
            <span data-i18n='settings.main.homekit-settings.device-list'>Devices List</span>
            <i class='arrow right'></i>
          </li>
        </ul>
      </div>

      <div class='list'>
        <p data-i18n='settings.main.new-device-defaults.title'>new device defaults</p>
        <ul>
          <li>
            <span data-i18n='settings.main.new-device-defaults.switch'>Publish to HomeKit</span>
            <i class='switch'>
              <label class="form-switch"><input type="checkbox" v-model='newDevicePublish' @change='onChangeNewDevicePublish'><i></i></label>
            </i>
          </li>
        </ul>
        <p data-i18n='settings.main.new-device-defaults.description'>Select what should happen when new devices are added to Homey.</p>
      </div>

      <div class='list'>
        <p data-i18n='settings.main.app-settings.title'>app settings</p>
        <ul>
          <li>
            Bridge Identifier
            <span>
              {{ newBridgeIdentifier }}
              <i class='arrow right' @click='setPage("identifier")'></i>
            </span>
          </li>
          <li>
            Reset
            <i class='arrow right' @click='setPage("reset")'></i>
          </li>
        </ul>
      </div>

      <div class='list'>
        <p data-i18n='settings.main.homekit-pairing.title'>homekit pairing</p>
        <ul>
          <li @click='setPage("qrcode")'>
            Pairing Code
            <span>
              1337-8055
              <i class='arrow right'></i>
            </span>
          </li>
        </ul>
        <p data-i18n='settings.main.homekit-pairing.description'>Pairing code to add HomeKitty to the Home app.</p>
      </div>

    </div>

    <div :class='{ active : currentPage === "devices", page : true }'>
      <header>
        <i class='arrow left' @click='setPage("main")'></i>
        <span data-i18n='settings.devices.header'>Devices</span>
        <div class='search'>
          <input type=text :placeholder='Homey.__("settings.devices.search-placeholder")' autocapitalize='off' v-model='search' @keyup='onKeyUp'>
        </div>
        <div class='filters'>
          <input type='checkbox' id='exposed' :checked='!! filters.exposed' @change='filters.exposed = ! filters.exposed'>
          <label for='exposed' data-i18n='settings.devices.filters.exposed'>Added</label>
          <input type='checkbox' id='unexposed' :checked='!! filters.unexposed' @change='filters.unexposed = ! filters.unexposed'>
          <label for='unexposed' data-i18n='settings.devices.filters.unexposed'>Not Added</label>
          <input type='checkbox' id='unsupported' :checked='!! filters.unsupported' @change='filters.unsupported = ! filters.unsupported'>
          <label for='unsupported' data-i18n='settings.devices.filters.unsupported'>Unsupported</label>
        </div>
      </header>
      <div class='list'>
        <ul>
          <li v-for='device in filteredItems' :key='device.id' class='device-card'>
            <figure>
              <img :src="device.iconObj?.url || 'mock-icon.png'" :title="'id = ' + device.id + ', class = ' + device.class"/>
            </figure>
            <p>
              <i>{{ device.zoneName || Homey.__("settings.devices.device.unknown-zone") }}</i><br>
              {{ device.name }}
            </p>
            <i class='switch'>
              <label class="form-switch">
                <input type="checkbox" :checked='device.available && device.homekitty.supported && device.homekitty.exposed' :disabled='! device.available || ! device.homekitty.supported'>
                <i></i>
              </label>
            </i>
          </li>
        </ul>
        <p data-i18n='settings.devices.description'>Select which devices should be published to HomeKit.</p>
      </div>
    </div>

    <div :class='{ active : currentPage === "identifier", page : true }'>
      <header>
        <i class='arrow left' @click='setPage("main")'></i>
        <span data-i18n='settings.identifier.title'>Bridge Identifier</span>
      </header>
      <div class='list'>
        <ul>
          <li>
            Identifier
            <input type='text' minlength=3 maxlength=24 v-model.trim='newBridgeIdentifier' selected>
          </li>
        </ul>
        <p data-i18n='settings.identifier.description'>
          Change the bridge identifier if you have multiple Homeys in your network. Each one should have a unique identifier.
        </p>
      </div>
      <div class='list' v-if='isValidIdentifier()'>
        <ul>
          <li class='center'>
            <span class='danger' data-i18n='settings.identifier.button' @click='setBridgeIdentifier()'>
              Change Identifier
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div :class='{ active : currentPage === "qrcode", page : true }'>
      <header>
        <i class='arrow left' @click='setPage("main")'></i>
        QR Code
      </header>
      <div class='list'>
        <ul>
          <li>
            <img style='width: 80%; margin: 1em auto' src='../assets/qrcode/small.png'>
          </li>
        </ul>
      </div>
    </div>

    <div :class='{ active : currentPage === "reset", page : true }'>
      <header>
        <i class='arrow left' @click='setPage("main")'></i>
        Reset
      </header>
      <div class='list'>
        <ul>
          <li class='center'>
            <span class='danger' @click='resetHomeKitty()'>
              Reset HomeKitty
            </span>
          </li>
        </ul>
        <p data-i18n='settings.reset.description'>If you have problems trying to add Homey to HomeKit (e.g. if HomeKit can't find the HomeKitty bridge), you can perform a full reset.</p>
      </div>
    </div>
  </body>
</html>
