<!DOCTYPE html>
<html>
  <head>
    <title>HomeKitty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src='/homey.js' data-origin='settings'></script>
    <script src="petite-vue.js"></script>
    <script src="fuse.min.js"></script>
    <script src='homey-settings-mock.js'></script>
    <script src='mock-setup.js?0982093849234'></script>
    <link rel="stylesheet" href="styles.css?49FA0A8C-DD5F-4B01-A9B2-97AE8ABA5046">
    <style>
      /* prevent FOUC */
      [v-cloak] { display: none }
    </style>
  </head>
  <body class='homekitty' id='homekitty' v-cloak @vue:mounted='mounted'>

    <div :class='{ active: currentPage === "main", page : true, fixed : true }'>

      <div class='list'>
        <p>homekit settings</p>
        <ul>
          <li>
            Publish all supported devices to HomeKit
          </li>
          <li>
            Remove all devices from HomeKit
          </li>
          <li @click='setPage("devices")'>
            Select per device
            <i class='arrow right'></i>
          </li>
        </ul>
      </div>

      <div class='list'>
        <p>new device defaults</p>
        <ul>
          <li>
            Publish to HomeKit
            <i class='switch'>
              <label class="form-switch"><input type="checkbox" checked><i></i></label>
            </i>
          </li>
        </ul>
        <p>Select what should happen when new devices are added to Homey.</p>
      </div>

      <div class='list'>
        <p>app settings</p>
        <ul>
          <li>
            Bridge Identifier
            <span>
              {{ newBridgeIdentifier }}
              <i class='arrow right' @click='setPage("identifier")'></i>
            </span>
          </li>
          <li>
            Reset
            <i class='arrow right' @click='setPage("devices")'></i>
          </li>
        </ul>
      </div>

      <div class='list'>
        <p>homekit pairing</p>
        <ul>
          <li @click='setPage("qrcode")'>
            Pairing Code
            <span>
              1337-8055
              <i class='arrow right'></i>
            </span>
          </li>
        </ul>
        <p>Pairing code to add HomeKitty to the Home app. Press for QR code.</p>
      </div>

    </div>

    <div :class='{ active : currentPage === "devices", page : true }'>
      <header>
        <i class='arrow left' @click='setPage("main")'></i>
        Devices
        <div class='search'>
          <input type=text placeholder='Search' autocapitalize='off' v-model='search' @keyup='onKeyUp'>
        </div>
        <div class='filters'>
          <template v-for='filter in [ "exposed", "unexposed", "unsupported" ]'>
            <input type='checkbox' :id='filter' :checked='!! filters[filter]' @change='filters[filter] = ! filters[filter]'>
            <label :for='filter' :data-i18n='"settings.filters." + filter'>{{ filter }}</label>
          </template>
        </div>
      </header>
      <div class='list'>
        <ul>
          <li v-for='device in filteredItems' :key='device.id' class='device-card'>
            <figure>
              <img :src="device.iconObj?.url || 'mock-icon.png'" :title="'id = ' + device.id + ', class = ' + device.class"/>
            </figure>
            <p>
              <i>{{ device.zoneName || Homey.__("settings.device.unknown-zone") }}</i><br>
              {{ device.name }}
            </p>
            <i class='switch'>
              <label class="form-switch">
                <input type="checkbox" :checked='device.available && device.homekitty.supported && device.homekitty.exposed' :disabled='! device.available || ! device.homekitty.supported'>
                <i></i>
              </label>
            </i>
          </li>
        </ul>
        <p>Select which device(s) should be published to HomeKit.</p>
      </div>
    </div>

    <div :class='{ active : currentPage === "qrcode", page : true }'>
      <header>
        <i class='arrow left' @click='setPage("main")'></i>
        QR Code
      </header>
      <div class='list'>
        <ul>
          <li>
            <img style='width: 80%; margin: 1em auto' src='../assets/qrcode/small.png'>
          </li>
        </ul>
      </div>
    </div>

    <div :class='{ active : currentPage === "identifier", page : true }'>
      <header>
        <i class='arrow left' @click='setPage("main")'></i>
        <span data-i18n='settings.identifier.title'>Bridge Identifier</span>
      </header>
      <div class='list'>
        <ul>
          <li>
            Identifier
            <input type='text' minlength=3 maxlength=24 v-model.trim='newBridgeIdentifier' selected>
          </li>
        </ul>
        <p data-i18n='settings.identifier.description'>
          Change the bridge identifier if you have multiple Homeys in your network. Each one should have a unique identifier.
        </p>
      </div>
      <div class='list' v-if='isValidIdentifier()'>
        <ul>
          <li class='center'>
            <span class='danger' data-i18n='settings.identifier.button' @click='setBridgeIdentifier()'>
              Change Identifier
            </span>
          </li>
        </ul>
      </div>
    </div>

    <script>
      function onHomeyReady(Homey) {
        console.log('HomeKitty Settings Ready');
        Homey.ready();
        PetiteVue.createApp({
          // data
          devices:                    {},
          search:                     '',
          currentPage:                'main',
          bridgeIdentifier:           null,
          newBridgeIdentifier:        null,
          hasBridgeIdentifierChanged: false,
          filters:                    { exposed : true, unexposed : true },
          // methods
          onKeyUp(ev) {
            if (ev.key === 'Escape') {
              this.search = '';
            }
          },
          async onChangeFilter(ev) {
            await this.setSetting('Settings.Filters', this.filters);
          },
          getSetting(name) {
            return new Promise((resolve, reject) => {
              Homey.get(name, (err, result) => {
                err ? reject(err) : resolve(result);
              });
            });
          },
          setSetting(name, value) {
            return new Promise((resolve, reject) => {
              Homey.set(name, value, err => {
                err ? reject(err) : resolve(value);
              });
            });
          },
          request(method, endpoint, data) {
            return new Promise((resolve, reject) => {
              Homey.api(method, endpoint, data, (err, result) => {
                if (err) {
                  console.error(err);
                  Homey.alert(Homey.__('errors.apirequest') + ': ' + err.message);
                  reject(err);
                } else {
                  resolve(result);
                }
              });
            });
          },
          async getDevices() {
            console.log('get devices');
            let devices  = await this.request('GET', '/devices');
            this.devices = Object.values(devices);
            console.log(`loaded ${ this.devices.length } devices`);
          },
          setPage(page) {
            this.currentPage = page;
          },
          isActive(page) {
            if (this.currentPage == page) {
              return 'is-active';
            } else {
              return;
            }
          },
          async exposeDevice(device) {
            console.log('exposing device', device.id, device.name, device.class)
            try {
              await this.request('PUT', '/devices/' + device.id, device);
              this.devices.find(d => d.id === device.id).homekitty.exposed = true;
            } catch(e) {}
          },
          async unexposeDevice(device) {
            console.log('unexposing device', device.id, device.name, device.class)
            try {
              await this.request('DELETE', '/devices/' + device.id, device);
              this.devices.find(d => d.id === device.id).homekitty.exposed = false;
            } catch(e) {}
          },
          isValidIdentifier() {
            const ident = this.newBridgeIdentifier;
            return ident && ident !== this.bridgeIdentifier && ident.match(/^\S{2,}.*\S$/);
          },
          async setBridgeIdentifier() {
            Homey.confirm('Are you sure!?', 'warning', async (err, response) => {
              if (response !== true) return;
              try {
                await this.setSetting('Bridge.Identifier', this.newBridgeIdentifier);
                Homey.alert('Bridge identifier has changed, please restart the HomeKitty app!');
                this.bridgeIdentifier = this.newBridgeIdentifier;
              } catch(e) {
                console.error(e);
                Homey.alert('Error', e.message);
              }
            });
          },
          async clearStorage() {
            Homey.confirm('Are you sure!?', 'warning', async (err, response) => {
              if (response === true) {
                await this.request('POST', '/reset', { value : response });
                Homey.alert('Storage is cleared, please restart the HomeKitty app!');
              }
            });
          },
          getSetting(key) {
            return new Promise((resolve, reject) => {
              Homey.get(key, (err, result) => err ? reject(err) : resolve(result ?? null));
            });
          },
          setSetting(key, value) {
            return new Promise((resolve, reject) => {
              Homey.set(key, value, err => err ? reject(err) : resolve(value));
            });
          },
          // called from @vue:mounted event handler on #app
          async mounted() {
            this.bridgeIdentifier    = await this.getSetting('Bridge.Identifier');
            this.filters             = await this.getSetting('Settings.Filters') || this.filters;
            this.newBridgeIdentifier = this.bridgeIdentifier;
            const devices            = await this.getDevices();
            // watch for changes in exposed state, then reload devices
            Homey.on('settings.set', async (key) => {
              if (key === 'HomeKit.Exposed') {
                await this.getDevices();
              }
            });
          },
          get filteredItems() {
            const filter = device => {
              if (device.available && device.homekitty.supported) {
                if (this.filters.exposed   &&   device.homekitty.exposed) return true;
                if (this.filters.unexposed && ! device.homekitty.exposed) return true;
                return false;
              }
              return this.filters.unsupported;
            };
            const options = {
              keys:               [ 'name', 'zoneName', 'class' ],
              shouldSort:         true,
              findAllMatches:     true,
              threshold:          0.6,
              location:           0,
              distance:           100,
              maxPatternLength:   32,
              minMatchCharLength: 2
            };
            const fuse = new Fuse(this.devices, options);
            if (this.search.length > 2) {
              return fuse.search(this.search).filter(filter);
            } else {
              return this.devices.filter ? this.devices.filter(filter) : this.devices;
            }
          },
        }).mount('#homekitty');
      }
    </script>
  </body>
</html>
