@use "mixins/spinner.scss";

@mixin reset-list {
  margin:     0;
  padding:    0;
  list-style: none;
}

:root {
  --hk-background-color:                 #f7f7f7;
  --hk-body-color:                       #333333;
  --hk-border-color:                     #d1d1d1;
  --hk-shadow-color:                     rgba(218, 218, 218, 0.5);
  --hk-danger-color:                     #ea4e3d;
  --hk-title-color:                      #85858a;
  --hk-list-title-size:                  0.8em;
  --hk-list-description-size:            var(--hk-list-title-size);
  --hk-active-background-color:          rgba(6, 126, 254, 1);
  --hk-active-background-gradient-color: rgba(108, 179, 250, 1);
  --hk-active-text-color:                #ffffff;
  --hk-active-border-color:              #015cff;
  --hk-active-border-gradient-color:     #4ba2f9;
  --hk-selected-color:                   #65c466;
  --hk-control-background-color:         #e9e9e9;
  --hk-control-border-radius:            0.25em;
  --hk-control-font-size:                90%;
  --hk-control-font-color:               #616161;
  --hk-control-font-color-light:         #838383;
}

html {
  all: initial; /* go nuclear */
}

body {
  font-family:      '-apple-system', 'SF Pro', 'Helvetica Neue' !important;
  background-color: var(--hk-background-color);
  color:            var(--hk-body-color);
  padding:          0.25em 0.5em;
  margin:           0;
}

.homekitty {
  @include spinner.spinner;

  .lds-spinner {
    position:    absolute !important;
    display:     none;
    left:        50%;
    top:         50%;
    margin-left: -20px;
    margin-top:  -20px;
  }

  &.loading, &.restarting {
    width:           100vw;
    height:          100vh;

    .page {
      opacity: 0;
    }
  }

  &.restarting {
    &::after {
      content:   '\002934';
      color:     red;
      position:  absolute;
      top:       10px;
      left:      17px;
      font-size: 40px;
      transform: scale(-1, 1);
    }
  }

  &.loading {
    .lds-spinner {
      display: block;
    }
  }

  .page {
    background-color: var(--hk-background-color);
    width:            100vw;
    height:           100vh;
    box-sizing:       border-box;
    padding:          0.5em;
    overflow:         auto;
    position:         fixed;
    top:              0;
    left:             100%;
    transition:       left 0.3s;
    z-index:          10;

    &.fixed {
      left:     0 !important;
      z-index:  0;
    }

    &.active {
      left: 0;
    }

    > header {
      text-align:       center;
      font-weight:      bold;
      font-size:        110%;
      background-color: var(--hk-background-color);
      margin-bottom:    0.75em;
    }

    .search {
      margin: 0.5em 0;
      input {
        width:            100%;
        font-size:        var(--hk-control-font-size);
        margin:           0;
        padding:          0 0 0 2em;
        box-sizing:       border-box;
        background-color: var(--hk-control-background-color);
        border-radius:    var(--hk-control-border-radius);

        &, &::placeholder {
          font-weight: normal;
          color:       var(--hk-control-font-color-light);
          line-height: 24px;
        }

        &:focus {
          color: var(--hk-control-font-color);
        }
      }

      &::before {
        content:         ' ';
        position:        absolute;
        width:           1.5em;
        background:      url(icons/magnifying-glass.svg) no-repeat scroll 0 0;
        background-size: contain;
        margin:          6px 0.5em 0 0.5em;
        height:          12px;
        display:         inline-block;
      }
    }
  }

  div.filters {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    border-radius:   var(--hk-control-border-radius);
    background:      var(--hk-control-background-color);
    font-size:       var(--hk-control-font-size);
    height:          22px;
    margin-bottom:   0.5em;
    padding:         0.125em 0.0625em;

    label {
      width:          100%;
      height:         100%;
      text-transform: none;
      line-height:    22px;
      font-weight:    normal;
      font-style:     normal;
      font-size:      80%;
      color:          var(--hk-control-font-color);
      box-sizing:     border-box;
      margin:         0 0.125em;
      padding:        0 2px;
      background:     white;
      opacity:        0.5;
      border-radius:  var(--hk-control-border-radius);
      outline:        1px solid rgba(204, 204, 204, 0.8);
      box-shadow:     0px 3px 1px rgba(0, 0, 0, 0.04), 0px 3px 8px rgba(0, 0, 0, 0.12);
    }

    input {
      -webkit-appearance: none;
      appearance:         none;
      width:              0;
      height:             0;

      &:checked + label {
        opacity: 1;
      }

      &:first-child + label {
      }
    }
  }

  i.arrow {
    font-style: normal;
    flex-basis: content;
    align-self: flex-end;
    margin:     0;
    width:      7px;
    height:     100%;
    background: url(icons/greater-than.svg) no-repeat 0 50%;

    &::after {
      display:    inline-block;
      width:      7px;
      position:   relative;
      font-size:  125%;
      align-self: center;
      color:      var(--hk-control-font-color-light);

      &:hover {
        cursor: pointer;
      }
    }

    &.right {
      margin-left: 0.5em;
      &::after {
        content:    '';
        text-align: right;
      }
    }

    &.left {
      transform:    rotate(180deg);
      margin-right: 0.5em;
      &::after {
        content:    '';
        text-align: left;
      }
    }
  }

  span.back {
    font-weight:     normal;
    text-decoration: underline;
    color:           blue;
    position:        absolute;
    right:           0.5em;
  }

  .list {
    margin-bottom: 1.5em;

    > p {
      color:       var(--hk-title-color);
      padding:     0 0 0 1em;
      margin:      0;
      line-height: 1.25em;

      &:first-child {
        margin-bottom:  0.5em;
        text-transform: uppercase;
        font-size:      0.7em;
        font-size:      var(--hk-list-title-size);
      }

      &:last-child {
        margin-top:  0.3em;
        font-size:   var(--hk-list-description-size);
        line-height: 1.5em;
      }
    }

    ul {
      background:    white;
      border-radius: 0.5em;
      padding:       0;
      margin:        0;

      li {
        display:         flex;
        justify-content: space-between;
        align-items:     center; // necessary?
        list-style-type: none;
        line-height:     36px;
        padding:         0.25em 0.5em;

        &:not(last-child) {
          border-bottom: 1px solid var(--hk-background-color);
        }

        > *:last-child {
          color: var(--hk-control-font-color-light);
        }

        &.center {
          justify-content: center;
        }

        input[type='text'] {
          margin-left: 1em;
          padding:     0;
          outline:     none;
          border:      none;
        }

        &.device-card {
          display:         flex;
          justify-content: flex-start;
          align-content:   center;

          p {
            align-self:  center;
            margin:      0 0 0 1.25em;
            flex-grow:   10;
            line-height: 1rem;
            font-weight: bold;

            i {
              font-weight: normal;
              font-size:   0.9em;
            }
          }

          i.switch {
            align-self: flex-end;
          }

          figure {
            align-self: center;
            width:      36px;
            height:     36px;
            text-align: center;
            margin:     0;

            img {
              max-width:  100%;
              max-height: 100%;
            }
          }
        }
      }
    }
  }

  span {
    &.danger {
      color: var(--hk-danger-color) !important;
    }
  }

  .form-switch {
    display:                     inline-block;
    cursor:                      pointer;
    -webkit-tap-highlight-color: transparent;
    height:                      26px;
    margin-bottom:               3px; // why???
    vertical-align:              middle;

    i {
      position:         relative;
      display:          inline-block;
      width:            46px;
      height:           26px;
      background-color: #e9e9e9;
      border-radius:    23px;
      vertical-align:   text-bottom;
      transition:       all 0.3s linear;

      &::before {
        content:          "";
        position:         absolute;
        left:             0;
        width:            42px;
        height:           22px;
        background-color: #e9e9e9;
        border-radius:    11px;
        transform:        translate3d(2px, 2px, 0) scale3d(1, 1, 1);
        transition:       all 0.25s linear;
      }

      &::after {
        content:          "";
        position:         absolute;
        left:             0;
        width:            22px;
        height:           22px;
        background-color: white;
        border-radius:    11px;
        box-shadow:       0 2px 2px rgba(0, 0, 0, 0.24);
        transform:        translate3d(2px, 2px, 0);
        transition:       all 0.2s ease-in-out;
      }
    }

    &:active {
      i::after {
        width:     28px;
        transform: translate3d(2px, 2px, 0);
      }
      input:checked + i::after {
        transform: translate3d(16px, 2px, 0);
      }
    }

    input {
      display: none;
      &:checked + i {
        background-color: var(--hk-selected-color);
        &::before {
          transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
        }
        &::after {
          transform: translate3d(22px, 2px, 0);
        }
      }
    }
  }

}
