<!DOCTYPE html>
<html>
  <head>
    <title>HomeKitty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="bulma.min.css">
    <script src="petite-vue.js"></script>
    <script src='homey-pairing-mock.js'></script>
    <script src='homey-pairing-mock-setup.js'></script>
    <style>
      /* prevent FOUC */
      [v-cloak] { display: none }

      /* use Homey colors */
      .message-header {
        background-image: var(--homey-interactive-gradient-blue) !important;
      }
    </style>
  </head>
  <body>
    <header class='homey-header'>
      <h1 class='homey-title'>Virtual HomeKit Device</h1>
    </header>
    <div id='app' v-cloak @vue:mounted='mounted'>

      <!-- #1: pick a HomeKit service for the new device -->
      <article class='message is-info is-size-4 is-size-6-mobile'>
        <div class='message-header'>
          HomeKit service for new device:
        </div>
        <div class='message-body'>
          <select class='homey-form-select' v-model='device.service'>
            <option disabled value=''>—</option>
            <option v-for='s of services'>{{ s }}</option>
          </select>
        </div>
      </article>

      <!-- #2: select a name for the new device -->
      <article class='message is-info is-size-4 is-size-6-mobile' v-if='device.service'>
        <div class='message-header'>
          Name for new device:
        </div>
        <div class='message-body'>
          <input class='homey-form-input is-size-4 is-size-6-mobile' type='text' v-model.trim='device.name'>
        </div>
      </article>

      <!-- #3: create the device -->
      <div class='container is-size-4 is-size-6-mobile' v-if='device.service && device.name'>
        <button :class='{ 
          "is-loading":                isCreating,
          "homey-button-primary-full": true,
          "is-pulled-right":           true,
          "is-size-4":                 true,
          "is-size-6-mobile":          true,
        }' @click='createDevice'>Create Device</button>
        <div class='is-clearfix'></div>
      </div>

    </div>
  </div>

  <script>
    console.log('HomeKitty Pairing Page Ready');
    PetiteVue.createApp({
      isCreating: false,
      services:   [],
      device:     {
        service: '',
        name:    null,
      },
      async createDevice() {
        try {
          this.isCreating = true;
          await Homey.createDevice({
            name:  this.device.name,
            class: 'other',
            data:  {
              // should be random enough
              id : 'XX:XX:XX:XX:XX:XX'.replace(/X/g, () => '0123456789ABCDEF'.charAt(Math.floor(Math.random() * 16)))
            },
            settings: {
              'HomeKit.Service' : this.device.service
            }
          });
          Homey.done();
        } catch(e) {
          console.error(e);
          Homey.alert('Unable to add device:\n', e.message);
        } finally {
          this.isCreating = false;
        }
      },
      async mounted() {
        // load list of services
        Homey.showLoadingOverlay();
        this.services = await Homey.emit('Services.Get');
        Homey.hideLoadingOverlay();
      }
    }).mount('#app');
  </script>
</body>
</html>
